name: Build and Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - master
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore

      # ---- EDIT THESE 3 (must match your AWS Elastic Beanstalk exactly) ----
      - name: Publish
        run: dotnet publish ./CalculatorApi/CalculatorApi.csproj -c Release -o publish

      - name: Zip publish folder
        run: cd publish && zip -r ../site.zip .

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: CalculatorApi          # <-- your EB Application name
          environment_name: CalculatorApi-env      # <-- your EB Environment name
          region: eu-north-1                       # <-- your region (Stockholm)
          version_label: ${{ github.run_number }}-${{ github.sha }}
          deployment_package: site.zip
          wait_for_deployment: true
          recovery_wait_time: 30
